/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.text-white{
	color: #eff3f8!important
}


.font-emph{
  font-size: 26px;
}
.font-desc{
  font-size: 23px;
}

.btn-profile{
  min-width: 125px;
  background-color: #4f81bd;
  font-size: 20px;
}
.margin-top-40{
  margin-top: 40px;
}
.page-sidebar-wrapper{
  color: #ffffff;
}
.landing-content{
  color:white;
  background-color: #111111;
}
.bg-black{
  background-color: #111111
}

.instruct, .req{
  font-size: 23px;
}
.instruct{
  margin-bottom: 15px;
}
.req{
  padding-top: 20px;
  margin-top:10px;
}
.login_btn{
  width:200px;
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
  margin-left:15px;
  margin-right:15px;
  height: 45px;
  transition: 0.5s;
}
.login_btn.approved{
  background-color: #f7e987;
}
.login_btn:hover{
  background-color: #92e6ff;
  font-weight: 600;
  font-size: 16px;
}
#login-modal .modal-content{
  background-color: #111111;
  color: white;
}
.padding-right-15{
  position: relative;
  right: 15px;
}

body,span,h1,h2,h3,h4,h5,h6,p{
  font-family: 'Timmana', sans-serif;
}
textarea{
  font-size: 14px;
  font-family: 'Timmana', sans-serif;
  overflow: hidden;
}
textarea.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #7c94aa;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Timmana', sans-serif;
}
textarea.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #7c94aa;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Timmana', sans-serif;
  opacity: 1;
}
textarea.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #7c94aa;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Timmana', sans-serif;
  opacity: 1;
}
textarea.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7c94aa;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Timmana', sans-serif;
}
textarea.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #7c94aa;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Timmana', sans-serif;
}
textarea.form-control::placeholder { /* Most modern browsers support this now. */
  color: #7c94aa;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Timmana', sans-serif;
}