html(lang="en", xmlns:ng="http://angularjs.org")
	head
		meta(charset='utf8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(content="width=device-width, initial-scale=1.0" name="viewport")
		meta(content="" name="description")
		meta(content="" name="author")
		meta(name="MobileOptimized" content="320")

		title 404

		//- Global Styleseets
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all",rel="stylesheet",type="text/css")
		link(href="/plugins/bootstrap/css/bootstrap.min.css",rel="stylesheet",type="text/css")
		link(href="/plugins/bootstrap/css/bootstrap.min.css",rel="stylesheet",type="text/css")
		link(href="/plugins/uniform/css/uniform.default.css",rel="stylesheet",type="text/css")
		link(href="/css/pages/error.css",rel="stylesheet",type="text/css")
		link(href="/css/components-rounded.css",rel="stylesheet",type="text/css")
		link(href="/css/plugins.css",rel="stylesheet",type="text/css")
		link(href="/css/admin/layout.css",rel="stylesheet",type="text/css")
		link(href="/css/admin/themes/grey.css",rel="stylesheet",type="text/css")
	body.page-404-full-page
		.row
			.col-md-12.page-404
				.number 404
				.details
					h3 Opps! You're lost
					p  We can not find the page you're looking for.
					br
					a(href="/") Return home
